img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
  }
  
  table,
  tr,
  th,
  td {
    border: 1px solid rgb(235, 235, 235);
    border-collapse: collapse;
  }
  
  .shopping-cart {
    width: 100%;
  }
  
  .product-thumbnail {
    max-width: 140px;
  }
  
  .shopping-cart {
    display: none;
  }
  
  #show-shopping-cart {
    display: none;
  }
  
  #show-shopping-cart:checked + .shopping-cart {
    display: table;
  }
.cart-page h6 {
    display: inline-block;
    border-bottom: 1px solid #7cbb29;
    border-left: 10px solid #7cbb29;
    padding-left: 6px;
}
.btn-down, .btn-up {
    border: none;
    background-color: #5050501b;
    padding: 2px 10px;
    font-size: 12px;
}
.cart-item {
    /* font-size: 16px; */
    font-weight: 600;
    padding: 0 8px;
}
.product-thumbnail .product-title {
  display: none;
}
.shopping-cart-columns {
  font-size: 16px;
}
.cart-item:nth-child(2), .cart-item:nth-child(4), .cart-item:nth-child(6) {
    background-color: #f7f7f7;
}
.cart-item-actions button {
    border: none;
    background-color: transparent;
}
tfoot {
    color: rgb(12, 77, 216);
    background-color: rgb(235, 235, 235);
    font-size: 22px;
}
.pay-cart {
    background-color: rgb(12, 77, 216);
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 700;
    width: 20%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
}
.pay-cart a {
    color: #fff;
    margin: 0 auto;

}
.product-thumbnail {
  margin: 10px auto;
}
.product-thumbnail img {
  aspect-ratio: 4/3;
}
.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-quantity .quantity {
  padding: 0 12px;
}
.cart-item-actions i {
  color: rgb(207, 69, 69);
}
.cart-item-actions {
  padding: 0 10px;
}
/* .all {
  position: absolute;
}
td .total-price {
  position: relative;
} */


@media screen and (max-width:1200px) {
  .pay-cart a{
    font-size: 16px;
  }
  .pay-cart {
    width: 30%;
  }
  .pay-cart {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:992px) {
  tfoot td {
    font-size: 16px;
  }
  
  .pay-cart a{
    font-size: 14px;
    /* display: inline; */
  }
}
@media screen and (max-width:768px) {
  .product-thumbnail img {
    aspect-ratio: 16/9;
  }
  tr {
    font-size: 14px;
  }
  .pay-cart {
    /* width: 40%; */
  }
  tfoot td {
    font-size: 14px;
  }
  .product-thumbnail .product-title {
    display: block;
  }
  tr th:nth-child(2) {
    display: none;
  }
  tr td:nth-child(2) {
    display: none;
  }
  .pay button {
    margin: 20px auto;
  }
}
@media screen and (max-width: 576px) {
  .name-page {
    font-size: 14px;
    margin: 20px 0 !important;
  }
  tr {
    font-size: 12px;
  }
  .pay-cart {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pay-cart a{
    font-size: 12px;
  }
  .product-quantity button {
    padding: 1px 6px;
    font-size: 10px;
  }
  .product-quantity .quantity {
    padding: 0 8px;
  }
}