.contact input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: 1px solid #ffedc7;
  }
  
  .contact button {
    background-color: #c89522;
    width: 30%;
    margin: 0 auto;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact button:hover {
    background-color: #f19e30;
  }
  
  .contact form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .infor-shop p {
    /* display: inline-block; */
    /* border-bottom: 1px solid #41556d; */
    /* margin-right: 50%; */
    line-height: 40px;
  }
  .infor-shop a:hover {
    color: #c89522;
  }
  .map {
    margin-top: 50px;
  }

@media screen and (max-width:576px) {
  .detail-infor p {
    border: none;
    margin-right: auto;
  }
}