*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    /* background-color: #a5a5a5; */
    position: relative;
}
.header {
    width: 100%;
    background-color: #97b9db;
    /* position: sticky;
    z-index: 99;
    top: 0;
    left: 0; */
    /* box-shadow: 0 23px 38px 0 rgb(0 0 0 / 10%); */
}
.header-top {
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
}
a {
    text-decoration: none;
}
.header-main {
  background-color: #ddd;
}
.header-main.container {
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    color: #00007C;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -6px;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box button {
    margin-left: -30px;
    border: none;
    background-color: transparent;
    font-size: 19px;
    cursor: pointer;
}
.search-type {
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid #606060;
    font-size: 14px;
    font-weight: 600;
    outline: none;
}
.search-box {
    display: flex;
    justify-content: center;
    /* width: 90%; */
    /* margin-left: -90px !important; */
}
.person {
    display: flex;
    align-items: center;
}
.person a {
    color: #000;
    margin-right: 40px;
}
.cart {
    position: relative;
    cursor: pointer;
}
.number-cart {
    position: absolute;
    right: -20px;
    top: -14px;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px;
    background-color: #606060;
    border-radius: 50%;
    color: white;
}
.user, .cart {
    /* display: block; */
    font-size: 20px;
}
.user:hover, .cart:hover, .search-box .button:hover {
    color: #0053cf;
}
.bars {
    display: none;
}

.menu {
  background-color: #cccccc;
  position: sticky;
  top: -1px;
  left: 0;
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 99;
}
.menu-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  height: 50px;
  padding: 0 200px;
}
.menu-drop li {
    position: relative;
}
.menu-drop li:hover .box-menu {
    display: block;
}
.box-menu {
    max-width: 1200px;
    width: 180px;
    list-style: none;
    /* display: flex; */
    position: absolute;
    background-color: #bbb5b5;
    display: table;
    padding-left: 0px;
    margin-left: 20px;
    cursor: pointer;
    display: none;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 99;
}
.menu-drop li a {
    color: #000;
    font-weight: 700;
}
.menu-drop i {
    margin-left: 4px;
    font-size: small;
}
.box-menu li a {
    text-decoration: none;
    font-weight: 500;
    line-height: 36px;
}
.box-menu li {
    padding-left: 30px;
}
.box-menu li:hover {
    background-color: #B8C85F;
    padding-left: 40px;
    transition: 0.5s;
}
.menu-drop li a:hover {
  color: #0053cf;
}
.box-menu li a:hover {
    color: #000;
}
.product-most h3 {
    margin-top: 20px;
    height: 52px;
    font-weight: 900;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item {
    /* position: relative; */
    height: 450px;
    background-color: #e9ecef;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #d4d1d1;
    /* color: rgba(0, 0, 0, 0.9); */
    transition: all 0.2s linear;
}
.item img {
    width: 100%;
    height: 240px;
}
h6 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
    line-height: 24px;
}
.pro-price {
    font-size: 20px;
    font-weight: 1000;
    margin: 20px 0;
    color: #f14346;
}
.pro-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.pro-rating i {
    color: #f6bc3e;
}
.pro-rating .rating-num {
    margin-left: 8px;
}
.add-cart button {
    background-color: #0053cf;
    border: none;
    border-radius: 4px;
    line-height: 42px;
    padding: 0 32px;
    color: #fff;
    font-weight: 600;
    margin-top: 22px;
}
.btn-slide {
    border: none;
    border-radius: 6px;
    padding: 2px 16px;
    font-weight: 600;
}
.btn-slide:hover {
    background: #d58822;
}
.carousel-indicators button:hover {
    background-color: #d58822;
}
.carousel-item h5 {
    font-size: 58px;
    font-weight: 600;
    color: #000;
    display: block;
}
.carousel-item p {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.carousel-item img {
    opacity: .6;
}
.carousel-control-prev, .carousel-control-next {
    display: none;
}
.carousel-caption {
    margin-bottom: 60px;
}

/* service */
.service-icon i{
    font-size: 32px;
    color: #d58822;
    padding-top: 12px;
}
.service{
    padding-top: 10px;
}
.service1{
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    position: relative;
    margin-bottom: 5px;
    color: black;
    border-bottom: 1px ridge;
}
.service-text{
    font-size: 12px;
    font-weight: 500;
    margin: 0 30px;
    margin-bottom: 6px;
}





.footer .row {
  display: flex;
  justify-content: center;
}
.trust img {
  max-width: 132px;
  padding-top: 10px;
}
.footer h2 {
  margin: 32px 0 10px;
}
.footer h4 {
  margin-bottom: 36px;
}
.footer {
  background-color: #606060;
  color: #000;
}
.container.footer h5 {
  font-size: 18px;
  font-weight: 900;
  padding-top: 36px;
}
.container.footer ul {
  list-style: none;
  padding-left: 0;
}

.container.footer input {
    width: 220px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px 0 0 4px;
    line-height: 38px;
    border: none;
    padding-left: 5px;
    margin-bottom: 30px;
    position: relative;
    color: #000;
}
.container.footer input:focus{
    outline: none;
}
.container.footer ul li a {
    color: #000;
    line-height: 40px;
    font-weight: 600;
}
.container.footer ul li a:hover {
    text-decoration: underline;
    color: #d58822;
}
.detail-infor a{
    color: #000;
}
.footer button {
    background-color: #9b9b9b;
    border: none;
    border-radius: 0 4px 4px 0;
    width: 40px;
    height: 38px;
    position: absolute;
}
.footer button i {
    color: #000;
}
.footer button:hover {
    background: #d58822;
}
.follow a {
    color: #303030;
    margin-right: 12px;
    font-size: 28px;
}
.footer h5 {
    /* color: #000; */
    line-height: 50px;
}
.footer .infor h5 {
    line-height: 34px;
    padding: 0;
}
.footer .pay {
    margin-top: 20px;
}
.footer .pay img {
    width: 42px;
    height: 28px;
}
.footer span {
    display: block;
    font-weight: 600;
}
/* h1 {
    word-break: break-word;
} */
.infor {
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
}
ul.detail-infor {
  padding: 0;
}
ul.detail-infor li {
  display: flex;
  align-items: center;
    /* flex-direction: row; */
}
  ul.detail-infor li i {
    margin-right: 10px;
    margin-top: 4px;
    font-size: 18px;
  }
  .footer .infor p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin: 10px 0 5px 0;
}
.footer-bottom {
    background: #000;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    height: 26px;
    width: 100%;
}

/*slick-slider*/
.slick-slide {
  padding: 0 6px;
}
.card-slider .item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #d58822;
}
  .slick-arrow {
    background: #e9ecef;
    width: 30px;
    height: 50px;
    border-radius: 4px;
    transition: all 0.4s linear;

  }
  .slick-arrow:hover, .slick-arrow:focus{
    background-color: #cccccc;
  }
   
  /*.card-slider {
    margin: 0 auto;
    
    @media screen and (max-width: 1024px) {
      width: 80%;
    }
    
    .slick-prev-icon,
    .slick-next-icon {
      color: black;
    }
    
    .slick-slide {
      padding: 0 10px;
    } */
    


/* repon 
@media screen and (max-width: 768px) {
    .search-box input {
        display: none;
    }

    .container {
      max-width: 700px;
    }
  
    ul.menu {
      display: none;
    }
  
    .logo {
      width: 22%;
    }
  
    .link-home {
      width: 62%;
    }
  
    .icons {
      width: 16%;
    }
  
    ul.icon-link li.account {
      display: none;
    }
  
    ul.icon-link li.bars {
      display: block;
    }
  
    ul.icon-link li.bars:hover {
      color: #000;
    }
  
    .banner {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
    }
  
    .single-banner-01 {
      width: 100%;
      padding-left: 133px;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
  
    .single-banner-02 {
      width: 100%;
      padding: 10px;
    }
  
    .single-banner-01 img,
    .single-banner-02 img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .container,
    .container-sm {
      max-width: 100%;
    }
  
    .products-list .col-6 {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  
    .col-sm-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .logo {
      width: 22%;
    }
  
    .link-home {
      width: 60%;
    }
  
    .icons {
      width: 17%;
    }
  
    .search-main {
      position: relative;
    }
  
    .search-main input,
    .search-main input::placeholder,
    .search-main button {
      width: 100%;
    }
  
    .search-main button {
      position: relative;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 500px) {
    .container {
      max-width: 400px;
    }
  
    .logo {
      width: 22%;
    }
  
    .link-home {
      width: 58%;
    }
  
    .icons {
      width: 20%;
    }
  
    .products-list .col-6 {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .gutters .col-12 {
      width: 100%;
    }
  
    h5.single-bn-title1 {
      font-size: 17px;
      font-weight: 600;
    }
  
    h3.single-bn-title {
      font-size: 25px;
      font-weight: bold;
    }
  
    a.single-bn-link {
      color: #292b2c;
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .col-sm-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .col-sm-6 {
      flex: 0 0 auto;
      width: 100%;
    }
  } */