.present .pic img {
    aspect-ratio: 16/9;
}
.title-list ul li {
    line-height: 40px;
}
.present .title h6, .present .title p {
    text-indent: 40px;
}
.cart-page {
    /* background-image: url(./image/slide1.png); */
}
@media screen and (max-width: 576px) {
    .title-list ul li {
        line-height: 32px;
    }
    .present ul h5 {
        font-size: 18px !important;
    }
}