@media screen and (max-width:1200px) {
    .logo {
        width: 20%;
    }
    .logo h2 {
        font-size: 42px;
        letter-spacing: -4px
    }
    .person {
        width: 10%;
    }
    .footer {
        padding-bottom: 14px;
    }
    .menu-drop {
        padding: 0 100px;
    }
    .carousel-caption {
        margin-bottom: 0px;
    }
    .carousel-item h5 {
        font-size: 40px;
    }
}


@media screen and (max-width:992px) {
    .carousel-item h5 {
        font-size: 32px;
    }
    .carousel-indicators {
        display: none;
    }
    .about .left {
        width: 50%;
        margin: 0 auto 40px;
    }
    .about .right {
        width: 80%;
        margin: 0 auto;
    }
}



@media screen and (max-width:768px) {
    .header, .sidenav {
        display: block;
    }
    .repon {
        order: 1;
        display: block;
    }
    .logo {
        order: 2;
    }
    .logo h2 {
        font-size: 34px;
    }
    .person {
        order: 3;
    }
    .header {
        position: sticky;
        top: -1px;
        left: 0;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
        z-index: 99;
    }
    .person a:last-child {
        margin: 0;
    }
    .banner .carousel-item h5 {
        font-size: 26px;
        font-weight: 800;
    }
    .banner .carousel-item p {
        font-size: 16px;
    }
    .banner .carousel-caption {
        padding: 0px;
    }
    .carousel-item .btn-slide {
        font-size: 12px;
        padding: 1px 8px;
    }
    .search, .menu, .slick-prev, .slick-next, .slick-arrow {
        display: none !important;
    }
    /* .service1 {
        width: 25%;
    } */
    .service-title {
        font-size: 12px;
    }
    /* .service .row {
        height: 30%;
    } */

    .list-unstyled, .footer {
        text-align: center;
    }
    .footer li {
        justify-content: center;
    }
    .footer input {
        margin-left: -38px;
    }
    .footer .pay div {
        display: flex;
        justify-content: center;
    }
}



@media screen and (max-width: 576px) {
    .logo .h2 {
        font-size: 30px;
    }
    .header .logo {
        /* height: 50px; */
    }
    .header .repon {
        width: 25%;
    }
    .header .person {
        width: 25%;
    }.header .person a {
        margin-right: 14px;
    }
    .banner .carousel-item {
        height: 140px;
    }
    .banner .carousel-item img {
        height: 140px;
    }
    .banner .carousel-item h5 {
        font-size: 20px;
        font-weight: 700;
    }
    .banner .carousel-item p {
        font-size: 14px;
        margin-bottom: 0;
        display: none;
    }
    
    .right .carousel-item p {
        display: block;
    }
    .about .left {
        width: 60%;
    }
    .footer-bottom {
        display: none;
    }

}
@media screen and (max-height: 450px) {
    /* .sidenav {padding-top: 15px;} */
    /* .sidenav a {font-size: 18px;} */
  }
