@media screen and (max-width:1200px) {
    .header .logo {
        width: 20%;
    }
    .logo h2 {
        letter-spacing: -4px;
        font-size: 50px;
        margin-left: 30px;
    }
    .person {
        width: 10%;
    }
    .footer {
        padding-bottom: 14px;
    }
    .menu-drop {
        padding: 0 100px;
    }
    .carousel-caption {
        margin-bottom: 0px;
    }
    .carousel-item h5 {
        font-size: 40px;
    }
    .menu-sticky {
        top: 59px;
        align-items: center;
    }
    ul.menu-drop {
        height: 44px;
    }
    .item {
        height: 400px;
    }
    .item .product-img img {
        height: 190px;
    }
}


@media screen and (max-width:992px) {
    .logo h2 {
        font-size: 42px;
    }
    .carousel-item h5 {
        font-size: 32px;
    }
    .about .left {
        width: 50%;
        margin: 0 auto 40px;
    }
    .about .right {
        width: 80%;
        margin: 0 auto;
    }
    .service-icon i {
        font-size: 28px;
        padding-top: 8px;
    }
    .service-title {
        font-size: 16px;
    }
    .menu-sticky {
        top: 48px;
    }
    .search input {
        margin-left: -60px;
    }
    .cart-page {
        padding-bottom: 32px !important;
    }
}



@media screen and (max-width:768px) {
    .sidenav {
        display: block;
    }
    .repon {
        order: 1;
        display: block;
    }
    .header .logo {
        order: 2;
    }
    .person {
        order: 3;
        padding-top: 10px;
    }
    .logo h2 {
        font-size: 40px;
        margin: 0;
    }
    .user, .cart {
        font-size: 16px;
    }
    .header {
        position: sticky;
        top: -1px;
        left: 0;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
        z-index: 99;
    }
    .person a:last-child {
        margin: 0;
    }
    .banner .carousel-item h5 {
        font-size: 26px;
        font-weight: 800;
    }
    .banner .carousel-item p {
        font-size: 16px;
    }
    .banner .carousel-caption {
        padding: 0px;
    }
    .banner .carousel-item .btn-slide {
        font-size: 14px;
        padding: 2px 10px;
    }
    .banner .carousel-indicators {
        display: none;
    }
    .search, .menu, .slick-prev, .slick-next, .slick-arrow {
        display: none !important;
    }
    .service-icon i {
        font-size: 24px;
        padding-top: 10px;
    }
    .service-title {
        font-size: 16px;
    }
    .list-unstyled, .footer {
        text-align: center;
    }
    .footer li {
        justify-content: center;
    }
    .footer input {
        margin-left: -38px;
    }
    .footer .pay div {
        display: flex;
        justify-content: center;
    }
    .footer .logo {
        padding: 24px;
    }
    .cart-page {
        padding-bottom: 18px !important;
    }
}



@media screen and (max-width: 576px) {
    .logo h2 {
        font-size: 30px;
    }
    .header .container {
        height: 46px;
    }
    .header .repon, .header .person {
        width: 25%;
    }
    .header .person a {
        margin-right: 14px;
    }
    .banner .carousel-item {
        height: 140px;
    }
    .banner .carousel-item img {
        height: 140px;
    }
    .banner .carousel-item h5 {
        font-size: 20px;
        font-weight: 700;
    }
    .banner .carousel-item p {
        font-size: 14px;
        margin-bottom: 0;
        display: none;
    }
    .banner .carousel-item .btn-slide {
        font-size: 12px;
        padding: 2px 10px;
    }
    .service-icon i {
        font-size: 18px;
        padding-top: 8px;
    }
    .service-title {
        border: none;
        font-size: 14px;
        line-height: 1.6;
    }
    .about .left {
        width: 60%;
    }
    .footer-bottom, .service-text {
        display: none;
    }
    .tab-content .container {
        width: 90%;
    }
    #pills-tabContent input {
        font-size: 14px;
        padding-left: 14px !important;
    }


}
@media screen and (max-width: 467px) {
    .item {
        height: 328px;
    }
    .item .product-img img {
        height: 170px;
    }
    .item .rating-num {
        font-size: 12px;
    }
    /* .add-cart.desktop {
        display: none;
    }
    .add-cart.mobile {
        display: block !important;
        width: 100%;
        background: #0058dd;
        margin-top: 20px !important;
        margin: 0 auto;
        height: 40px;
    }
    .add-cart.mobile a {
        text-align: center !important;
        color: #fff;
        font-weight: 500;
        margin: 0 auto;
        font-size: 14px;
    } */
    h6.pro-title, div.pro-price {
        font-size: 16px;
        margin: 10px 0;
    }
    div.pro-rating i {
        font-size: 12px;
    }
    .add-cart button {
        font-weight: 400;
        padding: 0 10px;
        margin-top: 18px;
        line-height: 34px;
    }
}
@media screen and (max-height: 450px) {
    /* .sidenav {padding-top: 15px;} */
    /* .sidenav a {font-size: 18px;} */
  }
  /* .add-cart.mobile {
    display: none;
  } */